<App font="LiberationMono-Bold" fontSize="17">
  <Style>
    <Background>#323232</Background>
    <Foreground>#cccccc</Foreground>
    <Separator>#aaaaaa</Separator>
    <Highlight>#00ffff</Highlight>
    <Selected>#ffff00</Selected>
    <CursorBackground>#777777</CursorBackground>
    <CursorForeground>#ffffff</CursorForeground>
  </Style>
  <Event type="init" action="Controller::init" />
  <Event type="timer" period="2000" action="Controller::test" />
  <Window title="SPTK mad4" width="100" height="30" mode="maximized">
    <ScreenSelector screens="text,editors,lists,image,tables,progress,colors" />
    <Screen file="text.xml" id="text" title="Text" />
    <Screen file="editors.xml" id="editors" title="Editors"  />
    <Screen file="lists.xml" id="lists" title="List"  />
    <Screen file="images.xml" id="image" title="Images"  />
    <Screen file="tables.xml" id="tables" title="Table" />
    <Screen file="progress.xml" id="progress" title="Progress" />
    <Screen file="colors.xml" id="colors" title="Colors" />
  </Window>
</App>
