<App font="LiberationMono-Bold" fontSize="17">
  <Style>
    <Background>#323232</Background>
    <Foreground>#cccccc</Foreground>
    <Separator>#aaaaaa</Separator>
    <Highlight>#00ffff</Highlight>
    <Selected>#ffff00</Selected>
    <CursorBackground>#777777</CursorBackground>
    <CursorForeground>#ffffff</CursorForeground>
  </Style>
  <Event type="init" action="Controller::init" />
  <Event type="timer" period="2000" action="Controller::test" />
  <Window title="SPTK mad4" width="82" height="16">
    <ScreenSelector screens="main,editors,lists,choices,image" />
    <Screen file="screen.xml" id="main" title="Main screen" />
    <Screen file="editors.xml" id="editors" title="Editors"  />
    <Screen file="choices.xml" id="choices" title="Choice widgets"  />
    <Screen file="lists.xml" id="lists" title="Lists"  />
    <Screen file="images.xml" id="image" title="Images"  />
  </Window>
</App>
